{
  "openapi": "3.1.0",
  "info": {
    "title": "PayInGame Public API",
    "description": "REST API for accessing games, products, prices, languages, receipts, and payments.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://intern.payingame.io/rest/PayIngame/PublicAPI"
    }
  ],
  "paths": {
    "/Projects/{YourAPIKEY}": {
      "get": {
        "summary": "Get Projects",
        "parameters": [
          {
            "name": "YourAPIKEY",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Will be your Test or Production API Key"
          }
        ],
        "responses": {
          "200": {
            "description": "List of active Projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isError": {
                      "type": "string",
                      "example": "will be 0 or 1"
                    },
                    "Projects": {
                      "type": "array",
                      "description": "Will not be available in case of an error",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Guid": {
                            "type": "string",
                            "example": "XXXX-XXXXX-XXXXXX"
                          },
                          "Name": { "type": "string", "example": "My Game" }
                        }
                      }
                    },
                    "Error": {
                      "type": "string",
                      "example": "Empty if no error, otherwise Error string"
                    }
                  },
                  "required": ["isError", "Projects", "Error"]
                }
              }
            }
          }
        }
      }
    },
    "/Products/{YourAPIKEY}/{ProjectGuid}": {
      "get": {
        "summary": "Get active products for a game",
        "parameters": [
          {
            "name": "YourAPIKEY",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "ProjectGuid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isError": { "type": "string", "example": "0" },
                    "Error": { "type": "string", "example": "" },
                    "Data": {
                      "type": "object",
                      "properties": {
                        "Types": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "value": { "type": "string", "example": "2" },
                              "name": { "type": "string", "example": "Item" }
                            }
                          }
                        },
                        "Products": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "IsUnlimited": {
                                "type": "boolean",
                                "example": true
                              },
                              "Amount": { "type": "string", "example": "" },
                              "Guid": {
                                "type": "string",
                                "format": "uuid",
                                "example": "XXXXX-XXXX-XXXX-XXXX-XXXXX"
                              },
                              "Languages": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "Value": { "type": "string" },
                                        "Type": {
                                          "type": "string",
                                          "enum": ["Title", "Description"]
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "ImageUrl": {
                                "type": "string",
                                "format": "uri",
                                "example": "https://url/img/image.png"
                              },
                              "Type": { "type": "string", "example": "2" }
                            }
                          }
                        }
                      }
                    }
                  },
                  "example": {
                    "isError": "0",
                    "Error": "",
                    "Data": {
                      "Types": [
                        { "value": "2", "name": "Item" },
                        { "value": "4", "name": "Subscription" }
                      ],
                      "Products": [
                        {
                          "IsUnlimited": true,
                          "Amount": "",
                          "Guid": "XXXXX-XXXX-XXXX-XXXX-XXXXX",
                          "Languages": [
                            {
                              "EN": [
                                { "Value": "My Title", "Type": "Title" },
                                {
                                  "Value": "My Description",
                                  "Type": "Description"
                                }
                              ]
                            }
                          ],
                          "ImageUrl": "https://url/image.png",
                          "Type": "2"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Prices/{YourAPIKEY}/{ProjectGuid}/{Chains}/{IsAll}": {
      "get": {
        "summary": "Get active prices",
        "parameters": [
          {
            "name": "YourAPIKEY",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "ProjectGuid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "Chains",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "IsAll",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "IP",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of prices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error": { "type": "string" },
                    "isError": { "type": "string" },
                    "Prices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Currency": { "type": "string" },
                          "FromDate": { "type": "string" },
                          "FromAmount": { "type": "string" },
                          "DiscountAmount": { "type": "string" },
                          "DiscountIsPercentage": { "type": "boolean" },
                          "TaxIncludedInPrice": { "type": "string" },
                          "ToAmount": { "type": "string" },
                          "Chain": { "type": "string" },
                          "Amount": { "type": "string" },
                          "ToDate": { "type": "string" },
                          "PriceGuid": { "type": "string" },
                          "Products": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "IsUnlimited": { "type": "boolean" },
                                "Amount": { "type": "string" },
                                "Guid": { "type": "string" },
                                "ImageUrl": { "type": "string" },
                                "Type": { "type": "string" },
                                "Languages": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "additionalProperties": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "Value": { "type": "string" },
                                          "Type": { "type": "string" }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "Prices": [
                    {
                      "Currency": "USD",
                      "FromDate": "",
                      "FromAmount": "",
                      "DiscountAmount": "4.990",
                      "DiscountIsPercentage": false,
                      "TaxIncludedInPrice": "true",
                      "ToAmount": "",
                      "Chain": "FIAT",
                      "Amount": "4.990",
                      "Products": [
                        {
                          "IsUnlimited": true,
                          "Amount": "",
                          "Guid": "XXXXX-XXXX-XXXX-XXXX-XXXXX",
                          "Languages": [
                            {
                              "EN": [
                                { "Value": "My Title", "Type": "Title" },
                                {
                                  "Value": "My Description",
                                  "Type": "Description"
                                }
                              ]
                            }
                          ],
                          "ImageUrl": "https://url/img/img.png",
                          "Type": "2"
                        }
                      ],
                      "ToDate": "",
                      "PriceGuid": "687C3765-A270-77C2-F4F5-D469D2D07236"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/Languages/{YourAPIKEY}": {
      "get": {
        "summary": "Get active languages",
        "parameters": [
          {
            "name": "YourAPIKEY",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of languages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error": { "type": "string" },
                    "isError": { "type": "string" },
                    "Languages": {
                      "type": "array",
                      "items": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Receipts/{YourAPIKEY}/{CustomerID}": {
      "get": {
        "summary": "Get receipts for a customer",
        "parameters": [
          {
            "name": "YourAPIKEY",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "CustomerID",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of receipts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isError": { "type": "string", "example": "0" },
                    "Error": { "type": "string", "example": "" },
                    "Receipts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Date": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2025-09-23 17:36:11"
                          },
                          "Receipt": {
                            "type": "string",
                            "format": "uri",
                            "example": "https://url/receipt"
                          }
                        }
                      }
                    }
                  },
                  "example": {
                    "isError": "0",
                    "Error": "",
                    "Receipts": [
                      {
                        "Date": "2025-09-23 17:36:11",
                        "Receipt": "https://url/receipt"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "/payment/webhookdefinedbyuser": {
      "post": {
        "description": "Triggered when a payment is completed",
        "requestBody": {
          "description": "Payment completed event payload",
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PaymentCompleted" },
              "example": {
                "GameGuid": "XXXXX-XXXXX-XXXXX",
                "Quantity": 1,
                "Products": ["XXXXX-XXXXX-XXXXX"],
                "PaymentGuid": "XXXXX-XXXXX-XXXXXX",
                "UserID": "The UserID"
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Return 200 to acknowledge receipt" }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PaymentCompleted": {
        "type": "object",
        "required": [
          "GameGuid",
          "Quantity",
          "Products",
          "PaymentGuid",
          "UserID"
        ],
        "properties": {
          "GameGuid": {
            "type": "string",
            "description": "The GUID of the game"
          },
          "Quantity": {
            "type": "integer",
            "description": "Number of products purchased"
          },
          "Products": {
            "type": "array",
            "items": { "type": "string" },
            "description": "List of product GUIDs"
          },
          "PaymentGuid": {
            "type": "string",
            "description": "Unique payment identifier"
          },
          "UserID": {
            "type": "string",
            "description": "The user’s ID in your system"
          }
        }
      }
    }
  }
}
