{
  "openapi": "3.1.0",
  "info": {
    "title": "PayInGame Public API",
    "description": "REST API for accessing games, products, prices, languages, receipts, and payments.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://intern.payingame.io/rest/PayIngame/PublicAPI"
    }
  ],
  "paths": {
    "/Projects/{YourAPIKEY}": {
      "get": {
        "summary": "Get Projects",
        "parameters": [
          {
            "name": "YourAPIKEY",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of active Projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isError": {
                      "type": "string",
                      "example": "will be 0 or 1"
                    },
                    "Projects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Guid": {
                            "type": "string",
                            "example": "XXXX-XXXXX-XXXXXX"
                          },
                          "Name": { "type": "string", "example": "My Game" }
                        }
                      }
                    },
                    "Error": {
                      "type": "string",
                      "example": "Empty if no error, otherwise Error string"
                    }
                  },
                  "required": ["isError", "Games", "Error"]
                }
              }
            }
          },
          "400": {
            "description": "Bad request (e.g. project not found, invalid parameters)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "properties": {
                    "isError": { "type": "string" },
                    "Error": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized (invalid API key or throttled)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isError": { "type": "string" },
                    "Error": { "type": "string" }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isError": { "type": "string" },
                    "Error": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Products/{Guid}/{GameGuid}": {
      "get": {
        "summary": "Get active products for a game",
        "parameters": [
          {
            "name": "Guid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "GameGuid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error": { "type": "string" },
                    "isError": { "type": "string" },
                    "Data": { "type": "array", "items": { "type": "object" } }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Prices/{Guid}/{GameGuid}/{Chains}/{IsAll}": {
      "get": {
        "summary": "Get active prices",
        "parameters": [
          {
            "name": "Guid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "GameGuid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "Chains",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "IsAll",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "IP",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of prices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error": { "type": "string" },
                    "isError": { "type": "string" },
                    "Prices": { "type": "array", "items": { "type": "object" } }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Languages/{Guid}": {
      "get": {
        "summary": "Get active languages",
        "parameters": [
          {
            "name": "Guid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of languages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error": { "type": "string" },
                    "isError": { "type": "string" },
                    "Languages": {
                      "type": "array",
                      "items": { "type": "object" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Product": {
      "post": {
        "summary": "Get product or price for sale",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "type": "object" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product or price response",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/Receipts/{Guid}/{CustomerID}": {
      "get": {
        "summary": "Get receipts for a customer",
        "parameters": [
          {
            "name": "Guid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "CustomerID",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of receipts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error": { "type": "string" },
                    "isError": { "type": "string" },
                    "Receipts": {
                      "type": "array",
                      "items": { "type": "object" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/PaymentExpired/{Guid}": {
      "get": {
        "summary": "Check if a payment is expired",
        "parameters": [
          {
            "name": "Guid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Expiration status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error": { "type": "string" },
                    "isError": { "type": "string" },
                    "IsExpired": { "type": "boolean" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
